<p>After a while, Rupert met a beautiful fox named {{storyEnd.foxWife}}. 
    They fell deeply in love and lived in {{storyEnd.housing}}. 
    They lived there happily ever after. The end.</p>

    <a href = "/beginning">Click here to start over!</a>