
<p>One day, Rupert decided to visit {{storyBeginning.place}}. So, he hopped on a {{storyMiddle.travelVehicle}} to get there.
Once he got there, he decided to stay for at least {{storyMiddle.yearsToStay}}.</p>

<a href = "/end">Click for the End!</a>